<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azhang-test/providers/Microsoft.Web/sites/sampleRP20220729132315</ResourceId>
    <ResourceGroup>azhang-test</ResourceGroup>
    <ApiResourceId>/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/azhang-azure-play/providers/Microsoft.ApiManagement/service/azhang1stAPIM/apis/echo-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://samplerp20220729132315.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>9b8b47ad-dab5-425d-a9ed-939a8fb3fa39</ProjectGuid>
    <MSDeployServiceURL>samplerp20220729132315.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sampleRP20220729132315</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$sampleRP20220729132315</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>